<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Đưa nhau đi phượt</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--webfont-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Dorsa' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/jquery.easydropdown.js"></script>
<script src="js/simpleCart.min.js"> </script>
</head>
<body>
	<div class="banner">
   	  <div class="container">
   	  	<div class="header_top">
   	  	   <div class="header_top_left">
	  	      <div class="box_11"><a href="checkout.html">
		      <h4><p>Giỏ hàng: <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> sản phẩm)</p><img src="images/bag.png" alt=""/><div class="clearfix"> </div></h4>
		      </a></div>
		      <!--
	          <p class="empty"><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p> -->
	          <div class="clearfix"> </div>
	       </div>
           <div class="header_top_right">
		  	 <div class="lang_list">
				<select tabindex="4" class="dropdown">
					<option value="" class="label" value="">$ Us</option>
					<option value="1">Dollar</option>
					<option value="2">Euro</option>
				</select>
			 </div>
			 <ul class="header_user_info">
			  <a class="login" href="login.html">
				<i class="user"> </i> 
				<li class="user_desc">Đăng nhập/Đăng kí</li>
			  </a>
			  <div class="clearfix"> </div>
		     </ul>
		    <!-- start search-->
				<div class="search-box">
				   <div id="sb-search" class="sb-search">
					  <form>
						 <input class="sb-search-input" placeholder="Tìm kiếm sản phẩm..." type="search" name="search" id="search">
						 <input class="sb-search-submit" type="submit" value="">
						 <span class="sb-icon-search"> </span>
					  </form>
				    </div>
				 </div>
				 <!----search-scripts---->
				 <script src="js/classie1.js"></script>
				 <script src="js/uisearch.js"></script>
				   <script>
					 new UISearch( document.getElementById( 'sb-search' ) );
				   </script>
					<!----//search-scripts---->
		            <div class="clearfix"> </div>
			 </div>
		     <div class="clearfix"> </div>
	  </div>
	  <div class="header_bottom">
	   <div class="logo">
		  <h1><a href="/"><span class="m_1">P</span>hượt</h1>
	   </div>
	   <!-- Menu -->
   	   <div class="menu">
	     <ul class="megamenu skyblue">
			<li><a class="color2" href="/">Trang chủ</a>
				<!--
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Mũ bảo hiểm</h4>
								<ul>
									<li><a href="men.html">Fullface</a></li>
									<li><a href="men.html">Lật cằm</a></li>
									<li><a href="men.html">3/4</a></li>
									<li><a href="men.html">Nữa đầu</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="images/MBHT1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Masei</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="images/MBHT2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Mũ nửa đầu</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
								</ul>	
							</div>												
						</div>
					  </div>
					</div>
				-->
			</li>
			<li><a class="color2" href="/sanpham.ejs">Sản phẩm</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Balo</h4>
								<ul>
									<li><a href="men.html">Balo laptop</a></li>
									<li><a href="men.html">Balo leo núi</a></li>
									<li><a href="men.html">Balo chống nước</a></li>
									<li><a href="men.html">Balo da</a></li>
									<li><a href="men.html">Balo trẻ em</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Mũ bảo hiểm</h4>
								<ul>
									<li><a href="men.html">Fullface</a></li>
									<li><a href="men.html">Lật cằm</a></li>
									<li><a href="men.html">3/4</a></li>
									<li><a href="men.html">Nữa đầu</a></li>
								</ul>	
							</div>							
						</div>
						<div class="col1">
								<div class="h_nav">
									<h4>Giày</h4>
									<ul>
										<li><a href="men.html">Giày leo núi</a></li>
										<li><a href="men.html">Giày phượt</a></li>
										<li><a href="men.html">Giày trekking</a></li>
										<li><a href="men.html">Xăng đan</a></li>
									</ul>	
								</div>							
						</div>
						<!--
						<div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="images/BaloT1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Balo 3 PUBG</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="images/BaloT2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Balo da hàn quốc</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>										
								</ul>	
							</div>												
						</div>
					-->
					  </div>
					</div>
				</li>	
				<li><a class="color10" href="/thuonghieu.ejs">Thương hiệu</a>

					<!--<div class="megapanel">
						<div class="row">
							<div class="col1">
								<div class="h_nav">
									<h4>Giày</h4>
									<ul>
										<li><a href="men.html">Giày leo núi</a></li>
										<li><a href="men.html">Giày phượt</a></li>
										<li><a href="men.html">Giày trekking</a></li>
										<li><a href="men.html">Xăng đan</a></li>
									</ul>	
								</div>							
							</div>
						<div class="col2">
							<div class="h_nav">
								<h4>Trends</h4>
								<ul>
									<li class>
										<div class="p_left">
										  <img src="images/GiayT1.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Boot phượt</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>
									<li>
										<div class="p_left">
										  <img src="images/GiayT2.jpg" class="img-responsive" alt=""/>
										</div>
										<div class="p_right">
											<h4><a href="#">Boot da</a></h4>
											<span class="item-cat"><small><a href="#">watches</a></small></span>
											<span class="price">29.99 $</span>
										</div>
										<div class="clearfix"> </div>
									</li>									
								</ul>	
							</div>												
						</div>
						</div>
					</div> -->
				</li>
					

				<li><a class="color10" href="/khuyenmai.ejs">Khuyến mãi</a></li>
				<li><a class="color7" href="/lienhe.ejs">Liên hệ</a></li>
				<div class="clearfix"> </div>
			</ul>
			</div>
	        <div class="clearfix"> </div>
	        </div>
	    </div>
   </div>
   <div class="main">
    <div class="container">
    	<ul class="content-home">
           <li class="col-sm-4">
              <a href="single.html" class="item-link" title="">
                <div class="bannerBox">
                   <img src="images/bb1.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                   <div class="item-html">
                      <h3>Mũ<span>Fullface</span></h3>
                      <p>.</p>
                      <button>Mua ngay!</button>
                   </div>
                </div>
              </a>
           </li>
           <li class="col-sm-4">
              <a href="single.html" class="item-link" title="">
                <div class="bannerBox">
                   <img src="images/bb2.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                   <div class="item-html">
                      <h3>Áo<span>Jacket</span></h3>
                      <p>.</p>
                      <button>Mua ngay!</button>
                   </div>
                </div>
              </a>
           </li>
           <li class="col-sm-4">
              <a href="single.html" class="item-link" title="">
                <div class="bannerBox">
                   <img src="images/bb3.jpg" class="item-img" title="" alt="" width="100%" height="100%">
                   <div class="item-html">
                      <h3>Giày<span>Boots</span></h3>
                      <p>.</p>
                      <button>Mua ngay!</button>
                   </div>
                </div>
              </a>
           </li> 
           <div class="clearfix"> </div>         
       </ul>
    </div>
    <div class="middle_content">
    	<div class="container">
    		<h2>Đừng từ chối bất cứ cơ hội nào để đi!</h2>
    		<p>Shop Phượt được tạo ra nhằm phục vụ nhu cầu mua sắm các phụ kiện bảo hộ cho người đi xe mô tô. . .</p>
    	</div>
    </div>
   	<div class="content_middle_bottom">
   		<div class="header-left" id="home">
		      <section>
				<ul class="lb-album" >
					<li>
						<a href="#image-1">
							<img src="images/mid1.jpg"  class="img-responsive" alt="image01"/>
							<span>Mũ bảo hiểm</span>
						</a>
						<div class="lb-overlay" id="image-1">
							<a href="#page" class="lb-close">x Close</a>
							<img src="images/mid1.jpg"  class="img-responsive" alt="image01"/>
							<div>
								<h3>pointe <span>/point/</span></h3>
								<p>Dance performed on the tips of the toes</p>
							</div>
						</div>
					</li>
					<li>
						<a href="#image-2">
							<img src="images/mid2.jpg"  class="img-responsive" alt="image02"/>
							<span>Găng tay</span>
						</a>
						<div class="lb-overlay" id="image-2">
							<img src="images/mid2.jpg"  class="img-responsive" alt="image02"/>
							<div>							
								<h3>port de bras <span>/ˌpôr də ˈbrä/</span></h3>
								<p>An exercise designed to develop graceful movement and disposition of the arms</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-3">
							<img src="images/mid3.jpg"  class="img-responsive" alt="image03"/>
							<span>Balô</span>
						</a>
						<div class="lb-overlay" id="image-3">
							<img src="images/mid3.jpg"  class="img-responsive" alt="image03"/>
							<div>							
								<h3>pli·é <span>/plēˈā/</span></h3>
								<p>A movement in which a dancer bends the knees and straightens them again</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-4">
							<img src="images/mid4.jpg"  class="img-responsive" alt="image04"/>
							<span>Giày</span>
						</a>
						<div class="lb-overlay" id="image-4">
							<img src="images/mid4.jpg"  class="img-responsive" alt="image04"/>
							<div>							
								<h3>a·da·gio <span>/əˈdäjō/</span></h3>
								<p>A movement or composition marked to be played adagio</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<!--
					<li>
						<a href="#image-5">
							<img src="images/g5.jpg"  class="img-responsive" alt="image05"/>
							<span>Frappé</span>
						</a>
						<div class="lb-overlay" id="image-5">
							<img src="images/g5.jpg"  class="img-responsive" alt="image05"/>
							<div>							
								<h3>frap·pé<span>/fraˈpā/</span></h3>
								<p>Involving a beating action of the toe of one foot against the ankle of the supporting leg</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-6">
							<img src="images/g6.jpg"  class="img-responsive" alt="image06"/>
							<span>Glissade</span>
						</a>
						<div class="lb-overlay" id="image-6">
							<img src="images/g6.jpg"  class="img-responsive" alt="image06"/>
							<div>							
								<h3>glis·sade <span>/gliˈsäd/</span></h3>
								<p>One leg is brushed outward from the body, which then takes the weight while the second leg is brushed in to meet it</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-7">
							<img src="images/g7.jpg"  class="img-responsive" alt="image07"/>
							<span>Jeté</span>
						</a>
						<div class="lb-overlay" id="image-7">
							<img src="images/g7.jpg"  class="img-responsive" alt="image07"/>
							<div>							
								<h3>je·té <span>/zhə-ˈtā/</span></h3>
								<p>A springing jump made from one foot to the other in any direction</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
					<li>
						<a href="#image-8">
							<img src="images/g8.jpg"  class="img-responsive" alt="image08"/>
							<span>Piqué</span>
						</a>
						<div class="lb-overlay" id="image-8">
							<img src="images/g8.jpg"  class="img-responsive" alt="image08"/>
							<div>							
								<h3>pi·qué <span>/pēˈkā/</span></h3>
								<p>Strongly pointed toe of the lifted and extended leg sharply lowers to hit the floor then immediately rebounds upward</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
				-->
					<div class="clearfix"></div>
				</ul>
			</section>
		</div>
	  </div>
   </div>
   <div class="footer">
   	 <div class="container">
   	 	<div class="newsletter">
			<h3>Đăng ký</h3>
			<p>Để không bỏ lỡ hàng ngàn sản phẩm và những ưu đãi hấp dẫn</p>
			<form>
			  <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
			  <input type="submit" value="ĐĂNG KÝ">
			</form>
		</div>
   		<div class="cssmenu">
		   <ul>
			<li class="active"><a href="#">Giới thiệu</a></li>
			<li><a href="#">Tuyển dụng</a></li>
			<li><a href="#">Góp ý/Than phiền</a></li>
			<li><a href="#">Đổi trả/Bảo hành</a></li>
			<li><a href="contact.ejs">Liên hệ</a></li>
		  </ul>
		</div>
		<ul class="social">
			<li><a href=""> <i class="instagram"> </i> </a></li>
			<li><a href=""><i class="fb"> </i> </a></li>
			<li><a href=""><i class="tw"> </i> </a></li>
	    </ul>
	    <div class="clearfix"></div>
	    <div class="copy">
           <p> &copy; 2018 CÔNG TY TNHH PHUOTLUON</p>
	    </div>
   	</div>
   </div>
</body>
</html>		